.image-container {
    position: relative;
  }
  
  .image-container ul {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
  }
  