:root {
--w: 1350px;  /* 圖片寛度 */
--num : 2;  /* 圖片數量 */
--speed: 7s; /* 輪播速度 */
}

.gallery {
    width: 1350px;
    height: 430px;
    overflow: hidden;
    border: 1px solid white; 
    margin: 0 auto;
    /* background-color: black; */
}

.gallery > ul {
    display: flex; 
    flex-wrap: nowrap;
    animation:
        move calc(var(--speed) * var(--num))
        steps(var(--num)) infinite;
        /* 總循環秒數是 數量 * 速度*/
}

.gallery > ul > li {
    flex-shrink: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    animation:
        li-move calc(var(--speed))
        ease-in-out infinite;
        /* 單張因片動畫時間就是輪播速度 */
}

.gallery > ul > li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform:
            translateX(calc(var(--num) * var(--w) * -1))
        /* 總位移是 數量 * 單張寬度 */
    }
}

@keyframes li-move {
   0% {
       transform: translateX(0);
   }
    70%, 100% {
        transform:
            translateX(calc(-1 * var(--w))); 
    }
}

/* 首頁圖片輪播 */
.con{
    position: relative;
    width:1600px;
    height: 280px;
    overflow: hidden;
}
.pic {
    position: absolute;
    left: 0;
    width: 1600px;
    height: 300px;
}

.pic1 {
    width: 300px;
    list-style: none;
    float: left;
    padding-right: 20px;
}

/* img {
    width: 252px;
    height: 189px;
} */

#bn1 {
    width: 400px;
    position: absolute;
    bottom: 20px;
    left: 52%;
    transform: translateX(-50%);    
}

.bn1 {
    height: 35px;
    width: 35px;
    margin: 0 50px;
    border-radius: 0.5rem;
    background: lightblue;
    /* transition: 1s; */
}

/* .bn1:hover {
    background: #ffdc84;
}

.bn1::after {
    content:'';
    position: absolute;
    inset: 0;
    border-radius: 0.2rem;
    transition: 1s;
    box-shadow: 0 0 30px 15px #ffdc84;
    opacity: 0;
}

.bn1:active::after {
    transition: 0s;
    box-shadow: 0 0 0px 0px#ffdc84;
    opacity: 1;
} */



